@media (min-width: 1024px) { 
    What-I-Do p,a,span,u,article,.section,h1,h2,h3,h4,h5,h6{font-size: 1.1rem;}
}

@media (min-width: 807px) { 
    What-I-Do p,a,span,u,article,.section,h1,h2,h3,h4,h5,h6{font-size: 1rem !important;}
}

@media (max-width: 806px) { 
    What-I-Do p,a,span,u,article,.section,h1,h2,h3,h4,h5,h6{font-size: 1rem !important;}
    .What-I-Do #projects{flex-direction: column !important;}
    .skills-windows{flex-direction: column !important;}
    .section{width:100% !important;}
}

@media (max-width: 700px) { 
    What-I-Do p,a,span,u,article,.section,h1,h2,h3,h4,h5,h6{font-size: 0.95rem;}
}

@media (max-width: 699px) { 
    #projects{
        display: flex !important;
        flex-direction: column !important;
        width: 90% !important;
        border-radius: 0 !important;
    }
    #projects a{
        width: 90% !important;
        transition: ease-in-out 0.3s;
    }


    #projects a:first-child{
        border-radius: 12px 12px 0 0; /* top left -> top right -> bottom right -> bottom left */
    }
    #projects a:last-child{
        border-radius: 0 0 12px 12px; /* top left -> top right -> bottom right -> bottom left */
    }



    #projects a:hover{
        width: 100% !important;
        transition: ease-in-out 0.3s;
    }

    .section:hover {
        width: 100% !important; /* hovered one grows */
        filter: grayscale(0%) !important;
      }
      .section:not(:hover) {
        flex-grow: 0 !important; /* not hover shrinks */
      }
}

@media (max-width: 450px) { 
    .parent{
        display: flex !important;
        flex-direction: column !important;
        gap: 25px !important;
    }
}



@media (max-height: 500px) { 
   #startscreen-dynamic div{
    position: absolute;
    top: 45% !important;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 10px;
    }
}


*{
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

body {
    overflow-x: hidden; /* Hides bottom scrollbar */
}


body{
    background-color: var(--body-color);
}

:root {
    --text-color: white;
    --special-characters: black;
    --element-hover-color: rgb(87, 82, 82);
    --element-color: #343434;
    --body-color: #0c0c0c;
    --border-color: #000000;
    --white-color: white;
    --button-hover-color: rgb(97, 95, 95);
    --highlighter: rgb(97, 95, 95);
    --error-background-color: #800517;
    --nav-color: #181819;
}


nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    margin: 0 auto;
    margin-top: 0.7rem;

    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 80px;
    padding: 0.25rem 0.5rem; 

    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.03);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 24px 0px, rgba(255, 255, 255, 0.04) 0px -8px 24px 0px;
    opacity: 1;

}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0rem 0rem !important; 
    margin: 0;
}

nav ul li {
    margin: 0.2rem;
    border-radius: 50%;
    width: 3rem; 
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li.active { 
    background-color: #2c2c2c;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}


nav ul li i {
    color: #928E8F;
}


nav ul li.active i {
    color: white;
}



/* Styles for the Text on the main splash screen */
.intro{
    width: 100%;
    color: var(--text-color) !important;
    text-align: center;

    position: absolute;
    z-index: 5; /* So that Z-Index works, we need position != static */

    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); /* For proper translate: absolute */
}


.intro p:first-child{font-size: 2.5rem;}
.intro p:nth-child(2){font-size: 1.3rem;}
.intro p:nth-child(3){font-size: 0.8rem;}

.intro p::not(:nth-child(3)){
    text-align: center; 
    margin:0 !important;
}
.intro p:nth-child(3){margin-top: 1rem;}







.What-I-Do div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0rem 1.5rem;
}

@media (max-width: 806px) { 
    .What-I-Do div:nth-child(2){
        flex-direction: column !important;
    }
    .What-I-Do div img{
        margin: 1.5% auto 0.5% auto !important;
    }
    .What-I-Do article:first-child{
        margin: 0 auto !important;
        width: 65% !important;
        padding: 1.2rem !important;
    }
 }

@media (max-width: 475px) { 
    .What-I-Do div img{
        margin: 1.5% auto 0.5% auto !important;
        min-width: 55%;
    }
}


.What-I-Do div hr {
    flex-grow: 1; 
    border: none;
    height: 2px;
    border-radius: 15px;
    background-color: var(--nav-color);
}

.What-I-Do article{
    margin: 0% 2%;
    width: 80%;
    padding: 1.5rem;
    background-color: var(--nav-color);
    border-radius: 13px;
    flex-grow: 1; 
    max-width: 850px; 
    min-width: 250px; 
}

#startscreen-dynamic {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas-webgl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}


/* From Uiverse.io by javierBarroso */ 
.parent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .child {
    width: 50px !important;
    height: 50px !important;
    min-width: 50px !important;
    min-height: 50px !important;
    max-width: 50px !important;
    max-height: 50px !important;

    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 0.3s cubic-bezier(0.68, 0.85, 0.265, 1.85);
    border-radius: 5px;
    margin: 0 5px;
    box-shadow:
      inset 1px 1px 2px #fff,
      0 0 5px #4442;
  }
  
  .child:hover {
    background-color: white;
    background-position:
      -100px 100px,
      -100px 100px;
    /*transform: rotate3d(0.5, 1, 0, 30deg);*/
    transform: perspective(180px) rotateX(60deg) translateY(2px);
  }
  
  .child-1:hover {
    box-shadow: 0px 10px 10px #1e90ff;
  }
  .child-3:hover {
    box-shadow: 0px 10px 10px #fff;
  }
  .child-4:hover {
    box-shadow: 0px 10px 10px #4267b2;
  }
  .child-2:hover {
    box-shadow: 0px 10px 10px rgb(183, 42, 49);
  }
  
  .button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 20px;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.68, -0.85, 0.265, 1.55);
  }
  
  .child:hover > .button {
    transform: translate3d(0px, 20px, 30px) perspective(80px) rotateX(-60deg)
      translateY(2px) translateZ(10px);
  }
  
/* End of UI Verse */




.language-selector{
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.03);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 24px 0px, rgba(255, 255, 255, 0.04) 0px -8px 24px 0px;
    opacity: 1;

    top: 26px;
    right: 10px;
    position: fixed;
    z-index: 100;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
   backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.03);
   
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 24px 0px, rgba(255, 255, 255, 0.04) 0px -8px 24px 0px;
    opacity: 1;
    color: white;
    padding: 15px 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* The dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;

    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.03);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 24px 0px, rgba(255, 255, 255, 0.04) 0px -8px 24px 0px;
    opacity: 1;

    min-width: 120px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
}


.dropdown-content {
    right: 0; 
    left: auto; 
}



.dropdown-content a {
    width: fit-content;
    color: var(--text-color);
    padding: 10px 12px;
    text-decoration: none;
    display: flex;      
    align-items: center;
    gap: 8px;           
    transition: 0.3s;
    white-space: nowrap; 
}


.dropdown-content a:hover {
    background-color: var(--element-color);
}


.dropdown:focus-within .dropdown-content {
    display: block;
}


#projects{
    display: flex;
    margin: 0 auto;
    width: 70%;
    overflow: hidden;
    border-radius: 12px;
    gap: 0px;
}


  .section {
     position: relative;

    width: 25%;
    min-height: 35vh;
    flex-grow: 1;
    flex-basis: 0;
    transition: flex-grow 0.3s ease;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    margin: 0 !important;
  }

.section:hover {
    flex-grow: 3; /* hovered one grows */
    filter: grayscale(0%) !important;
  }
  .section::not(:hover) {
    flex-grow: -1; /* not hover shrinks */
  }

  .section img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or contain, depending on the layout */
    border-radius: 12px;
  }



#MeinInfoKurs{
    background-image: url('img/MeinInfoKurs.PNG') !important;
    background-size: cover; /* or contain */
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(70%);
}
#Linux{
    background-image: url('img/Kali2.jpg') !important;
    background-size: cover; /* or contain */
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(65%);
}
#Networking{
    background-image: url('img/Networking.png') !important;
    background-size: cover; /* or contain */
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(85%);
}
  


.section h1,h2,h3,h4,h5,h6{
    position: absolute;
    left: 50%;
    top: 78%;
    transform: translateX(-50%);
    color: white !important;
    z-index: 15000;
}
